html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px;
}

.navigation {
  color: #fff;
  background-color: #000;
}

.nav > li > a {
  color: #fff;
}

div.c-wrapper{
    width: 100%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

.container-fluid ul {
    display: inline-block;
}

#media_icons:hover {
	    background-color: #FFF;	
}

#about{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    padding-left: 15%;

}

#events{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    padding-left: 15%;

}

#footer {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000000;
    color: #fff; 
    text-align: center;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}